<% let BACKEND = sails.config.custom.BACKEND %>
<!--Row 1-->
<div class="row">
	<div class="col-md-6">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title"><%= __('Notification')%> (<%= notifications.length%>)</h4>
				<div class="row">
					<div class="col-lg-12 js-height-scrollbar" style="height: 350px;">
						<div class="message-box">
							<div class="message-widget message-scroll">
								<%if(notifications.length > 0){%>
									<%for(let i = 0; i < notifications.length; i++){%> 
									<a href="javascript:void(0)">
										<div class="user-img"><span class="round"><i class="mdi mdi-comment-check-outline"></i></span></div>
										<div class="mail-contnet">
											<h5><%= notifications[i].title%></h5>
											<!-- <span class="mail-desc"><%= notifications[i].message%></span> -->
											<span class="time"><%= moment(notifications[i].createdAt).format(webSettings.value.dateFormat)%></span>
										</div>
									</a>
									<%}%>
								<%} else{%>
									<div class="mail-contnet">
										<h5><%= __('No data')%></h5>
									</div>
								<%}%>
							</div>
						</div> 
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title"><%= __('News')%></h4>
				<div class="row">
					<div class="col-lg-12 js-height-scrollbar" style="height: 350px;">
						<%if(posts.length > 0){%>
							<div class="message-box">
								<div class="message-widget message-scroll"> 
								<%for(let i = 0; i < posts.length; i++){
									let src = "../../../../images/no-thumb.png";
									if (posts[i].media && posts[i].media.thumbnail && posts[i].media.thumbnail.sizes && posts[i].media.thumbnail.sizes.thumbnail) src = posts[i].media.thumbnail.sizes.thumbnail.path	
								%>
									<a href="/backend/post/edit/<%=posts[i].id%>">
										<div class="news-img">
											<img src="<%=src%>" alt="<%= posts[i].title %>"> 
										</div>
										<div class="mail-contnet">
											<h5><%= posts[i].title %></h5>
											<span class="mail-desc"><%= posts[i].motto %></span>
											<span class="time"><%= moment(posts[i].createdAt).format(webSettings.value.dateFormat)%></span>
										</div>
									</a> 
								<%}%>
								</div>
							</div>
						<%} else{%>
							<div class="mail-contnet">
								<h5><%= __('No data')%></h5>
							</div>
						<%}%>
					</div>
				</div>
			</div>
		</div>
	</div> 
</div>

<% block('localScripts', '<script src="/js/backend/dashboard/index.js"></script>') %>