<table class="table table-bordered table-hover dataTable" id="tblTuitionCheck" data-classActive="<%= classActive %>">
  <thead>
    <tr class="bg-custom-primary">
      <th width="5%">
        <%= __('#') %>
      </th>
      <th width="25%">
        <%= __('#') %>
      </th>
      <th width="35%">
        <%= __('Fullname') %>
      </th>
      <th width="30%">
        <%= __('Tutition') %>
      </th>
      <th width="5%">
        <%= __('Status') %>
      </th>
    </tr>
  </thead>
</table> 