<table class="table table-bordered table-hover dataTable" id="tblPost">
  <thead>
    <tr class="bg-custom-primary">
      <th width="5%">
        <input id="js-check-all" class="js-checkbox-all" type="checkbox">
      </th>
      <th width="5%">
        <%= __('Picture') %>
      </th>
      <th width="30%">
        <%= __('Title') %>
      </th>
      <th width="15%">
        <%= __('Category') %>
      </th>
      <th width="20%">
        <%= __('Tags') %>
      </th>
      <th width="15%">
        <%= __('Author') %>
      </th>
      <th width="5%">
        <%= __('Status') %>
      </th>
      <th width="5%">
          <%= __('') %>
      </th>
    </tr>
  </thead>
</table>