 <!-- footer -->
 <footer class="footer-site">
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-lg-6">
              <div class="footer-box">
                <div class="footer-logo"><img src="/images/cookcook.png" alt=""></div>
                <div class="footer-copyright">&copy; cookcook, 2020.</div>
                <ul class="share-icon">
                   <li><a class="socicalNetwork" href="<%= webSettings.value && webSettings.value.socialNetwork && webSettings.value.socialNetwork.facebook ? webSettings.value.socialNetwork.facebook : '' %>" target="_blank"><i class="fa fa-facebook"></i></a></li> 
                  <li><a class="socicalNetwork" href="<%= webSettings.value && webSettings.value.socialNetwork && webSettings.value.socialNetwork.instagram ? webSettings.value.socialNetwork.instagram : '' %>"><i class="fa fa-instagram"></i></a></li>
                  <li><a class="socicalNetwork" href="<%= webSettings.value && webSettings.value.socialNetwork && webSettings.value.socialNetwork.twitter ? webSettings.value.socialNetwork.twitter : '' %>"><i class="fa fa-twitter"></i></a></li> 
                  <li><a class="socicalNetwork" href="<%= webSettings.value && webSettings.value.socialNetwork && webSettings.value.socialNetwork.youtube ? webSettings.value.socialNetwork.youtube : '' %>"><i class="fa fa-youtube-play"></i></a></li>
                  <li><a class="socicalNetwork" href="<%= webSettings.value && webSettings.value.socialNetwork && webSettings.value.socialNetwork.google ? webSettings.value.socialNetwork.google : '' %>"><i class="fa fa-google"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-12 col-lg-6">
              <div class="footer-box">
                <h3>Contact</h3>
                <p>0823812570</p>
                <p><a href="mailto: ricarnguyen1507@gmail.com">ricarnguyen1507@gmail.com</a></p>
                <p>Lầu 11 Toà Nhà Tinh Học</p>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <!-- e: footer -->