
<section class="section-dark sec-padding sec-footer">
  <div class="container"> 
    <div class="row">
      <div class="col-md-3 col-sm-12 colmargin clearfix margin-bottom">
        <div class="fo-map">
          <div class="footer-logo"><img src="/images/cookcook.png" alt="" /></div>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis commodo</p>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis commodo</p>
          
        </div>
      </div>
      <!--end item--> 

      <div class="col-md-3 col-xs-12 clearfix margin-bottom">
        <h4 class="less-mar3 font-weight-5 text-white"><%= __('About')%></h4>
        <div class="clearfix"></div>
        <div class="footer-title-bottomstrip white"></div>
        <ul class="footer-quick-links-4 white">
          <li><a href="/about-us"><i class="fa fa-angle-right"></i> <%= __('About Us')%></a></li>
          <li><a href="/teacher"><i class="fa fa-angle-right"></i> <%= __('Teacher')%></a></li>
          <li><a href="/gallery"><i class="fa fa-angle-right"></i> <%= __('Gallery')%></a></li>
        </ul>
      </div>
      <!--end item--> 

      <div class="col-md-3 col-xs-12 clearfix margin-bottom">
        <h4 class="text-white less-mar3 font-weight-5 text-white"><%= __('Resources')%></h4>
        <div class="clearfix"></div>
        <div class="footer-title-bottomstrip white"></div>
        <ul class="footer-quick-links-4 white">
          <li><a href="javascript:void(0)"><i class="fa fa-angle-right"></i> <%= __('Terms & Conditions')%></a></li>
          <li><a href="javascript:void(0)"><i class="fa fa-angle-right"></i> <%= __('Privacy Policy')%></a></li>
        </ul>
      </div>
      <!--end item-->

      <div class="col-md-3 col-xs-12 clearfix margin-bottom">
        <h4 class="text-white less-mar3 font-weight-5 text-white"><%= __('Contact Us')%></h4>
        <div class="clearfix"></div>
        <address>
          <strong class="text-white"><%= __('Address:')%></strong> <br>
          Lầu 11 Toà Nhà Tinh Học
        </address>
        <span><strong class="text-white"><%= __('Phone: ')%></strong>0823812570</span><br>
        <span><strong class="text-white"><%= __('Email: ')%></strong> <a href="mailto:ricarnguyen1507@gmail.com">ricarnguyen1507@gmail.com</a></span><br>
        <ul class="footer-social-icons white left-align icons-plain text-center">
          <li><a class="twitter" href="<%= webSettings.value.socialNetwork && webSettings.value.socialNetwork.twitter ? webSettings.value.socialNetwork.twitter : '' %>" target="_blank"><i class="fa fa-twitter"></i></a></li>
          <li><a href="<%= webSettings.value.socialNetwork && webSettings.value.socialNetwork.facebook ? webSettings.value.socialNetwork.facebook : '' %>" target="_blank"><i class="fa fa-facebook"></i></a></li>
          <li><a href="<%= webSettings.value.socialNetwork && webSettings.value.socialNetwork.youtube ? webSettings.value.socialNetwork.youtube : '' %>" target="_blank"><i class="fa fa-youtube-play"></i></a></li>
        </ul>
      </div>
      <!--end item-->

    </div>
  </div>
</section>
<div class="clearfix"></div>
<!-- end section -->

<section class="sec-padding-6 section-medium-dark">
  <div class="container">
    <div class="row">
      <div class="fo-copyright-holder text-center"> Copyright © 2020 ZiniSoft. All rights reserved. </div>
    </div>
  </div>
</section>
<div class="clearfix"></div>
<!-- end section -->

<a href="#" class="scrollup"><i class="fa fa-angle-up" aria-hidden="true"></i></a><!-- end scroll to top of the page-->