<table class="table table-bordered table-hover dataTable" id="tblAlbum">
  <thead>
    <tr class="bg-custom-primary">
      <th width="5%">
        <input id="js-check-all" class="js-checkbox-all" type="checkbox">
      </th>
      <th width="15%">
        <%= __('Image') %>
      </th>
      <th width="45%">
        <%= __('Title') %>
      </th>
      <th width="25%">
        <%= __('Classes') %>
      </th>
      <th width="10%">
        <%= __('Status') %>
      </th>
      <th width="5%">
        <%= __('') %>
      </th>
    </tr>
  </thead>
</table>