<table class="table table-bordered table-hover dataTable" id="tblNotification">
  <thead>
    <tr class="bg-custom-primary">
      <th width="5%">
        <input id="js-check-all" class="js-checkbox-all" type="checkbox">
      </th>
      <th width="50%">
        <%= __('Name') %>
      </th>
      <!-- <th width="40%">
        <%= __('Message') %>
      </th> -->
      <th width="35%">
        <%= __('Classes') %>
      </th>
      <th width="5%">
        <%= __('Status') %>
      </th>
      <th width="5%">
        <%= __('') %>
      </th>
    </tr>
  </thead>
</table>