 <!-- main content -->
 <main class="main-content">
    <!-- sub-banner -->
    <section class="sub-banner">
      <div class="container">
        <h1 class="title-page">Món ăn</h1>
      </div>
    </section>
    <!-- e: sub-banner -->

    <div class="container">
      <div class="section-list-notices">
        <div class="list-notices">
          <%for(let postObj of posts){%>
            <div class="card-info">
                <div class="meta-text"><%= moment(postObj.createdAt).format('DD/MM/YYYY')%></div>
              <h3 class="card-info-title"><a href="2.3-Notice-detail.html"><%= postObj.title %></a></h3>
              <a href="/backend/post?postId=<%= postObj.id%>">
                <img src="<%= postObj.media[0].thumbnail.path%>">
              </a>
              <div class="card-info-text collapsed-content">
                <%= postObj.description%>
              </div>
            </div><!-- /.card-info -->
          <%}%>
        </div><!-- /.list-notices -->
      </div>
    </div>
    <%- partial ('../../partials/paging.ejs') %>
  </main>
  <!-- e: main content -->
  <% block('localScripts', '<script src="/js/frontend/notification/index.js"></script>') %>
  