<table class="table table-bordered table-hover dataTable hidden tblAttendent" id="tblAttendentV1"
  data-classActive="<%= classActive %>" data-allowShuttlePersonInfo="<%= allowShuttlePersonInfo %>">
  <thead>
    <tr class="bg-custom-primary">
      <th width="15%">
        <%= __('#') %>
      </th>
      <th width="55%">
        <%= __('Student') %>
      </th>
      <th width="30%">
        <%= __('Status') %>
      </th>
    </tr>
  </thead>
</table>
<table class="table table-bordered table-hover dataTable hidden tblAttendent" id="tblAttendentV2"
data-classActive="<%= classActive %>" data-allowShuttlePersonInfo="<%= allowShuttlePersonInfo %>">
<thead>
  <tr class="bg-custom-primary">
    <th width="15%">
      <%= __('#') %>
    </th>
    <th width="40%">
      <%= __('Student') %>
    </th>
    <th width="10%">
      <%= __('Time') %>
    </th>
    <th width="20%">
      <%= __('Shuttle person?') %>
    </th>
    <th width="15%">
      <%= __('Action') %>
    </th>
  </tr>
</thead>
</table>